<div class="row">
	<div class="hero-unit span6">
	  <h1>Rent spots from others in your building.</h1>
	  <p>
		<% unless current_user %>
			<%= button_to "Sign Up!", new_user_path, method: :get, class: "btn btn-large blue" %>
		<% end %>
	  </p>
	</div>
	<% unless current_user %>
	<div class="span4 home-page-well">
		<%= render 'login' %>
	</div>
	<% end %>
</div>
<hr>
</br>
<div class="row">
	<div class="span4">
		<h2>Share Your Spot</h2>
		<hr class="red">
		<p class="center">
			</br>
			Not using your parking spot? Make money by sharing your spot with others.
		</p>
	</div>
	<div class="span4">
		<h2>Reserve A Spot</h2>
		<hr>
		<p class="center">
			</br>
			Need an extra spot for a few hours? or a weekend? Don't bother with remote parking, rent a spot in your building.
		</p>
	</div>
	<div class="span4">
		<h2>Participate</h2>
		<hr>
		<p class="center">
			</br>
			Landlords and property managers please <a href="mailto:info@sharethelot.com">contact us</a> for more information 
			about how you can offer this service to your tenants.
		</p>
	</div>
</div>
