<p><%= Date.today.strftime("%b %e, %Y") %></p>

<p>
	Your parking pass for <%= @reservation.spot.building.name %> is attached to this email.</br>
	Confirmation number: <%= @reservation.confirmation_number %>
</p>

<p>Sincerely,</p>

<p>ShareTheLot.com</p>
