<div class="row">
	<div class="custom-well span5">
<%= render 'form' %>
	</div>
	<div class="span6">
		<legend>Getting Started</legend>
		<dl>
			<dt>Who can participate?</dt>
			<dd><span color="blue">ShareTheLot</span> is ideal for large buildings with assigned parking spots. 
				Don't see your building on the list? Ask them to 
				<a href="mailto:info@sharethelot.com">contact us</a>.</dd>
		</dl>
		<dl>
			<dt>***6-digit building code***</dt>
			<dd>
				You must have your building code to create an account. If you have lost or 
				forgotten your code please contact your building's management.
				</dd>
		</dl>
		<dl>
			<dt>Share my parking spot:</dt>
			<dd>1. Register your parking spot(s).</dd>
			<dd>2. List the availability of your spot(s).</dd>
			<dd>3. Get paid for sharing.</dd>
		</dl>
		<dl>
			<dt>Renting a spot:</dt>
			<dd>1. Search for available spots.</dd>
			<dd>2. Purchase your reservations.</dd>
			<dd>3. Email/print reservation receipt.</dd>
		</dl>
	</div>
</div>