<div class="row">
	<div class="well well-blue">
		<h2 id="hows_it_work" class="front white">How does it work?</h2>
	</div>
</div>
<div class="row">
		<ol>
			<div class="home-well">
				<li class="bigger">
				<%= link_to "Sign up", new_user_path %> using your 6-digit building code.
				</li>
				<p>Building codes are given to participating buildings. Please contact your building's management if you've lost your code.</p>
			</div>
			<h1>Share parking:</h1>
			<div class="home-well">
				<li class="bigger">
				 	Verify your parking spot(s).
				</li>
				<p>Select the parking spot(s) assigned to you.</p>
			</div>
			<div class="home-well">
				<li class="bigger">
				 	Add listings when your parking spot is vacant.
				</li>
				<p>Listings must be a minimum of 4 hours in length.</p>
			</div>
			<div class="home-well">
				<li class="bigger">
				 	Earn <span class="money">money</span> when others use your spot.
				</li>
				<p>Spots are listed at $3 per hour up to $10, anything over 8 hours is charged at $20 per day.
					 ShareTheLot takes 15% and sends checks via mail every 60 days.
				</p>
			</div>
			<h1 class="red">Reserve parking:</h1>
			<div class="home-well">
				<li class="bigger">
				 	Search for parking.
				</li>
				<p>Choose the dates and times you would like to reserve a spot from one of your neighbors.</p>
			</div>
			<div class="home-well">
				<li class="bigger">
				 	Checkout and print parking passes.
				</li>
				<p>All parking spots are charges at $3 per hour up to $10, anything over 8 hours is $20 per day.
					 You parking passes are sent by email or may be printed online.</p>
			</div>
			<div class="home-well">
				<li class="bigger">
				 	Park at your reserved spot and time.
				</li>
				<p>Use your parking pass to access the garage. Parking instructions are also included on the receipt.</p>
			</div>
		</ol>
</div>