
<div class="row">
	<div class="custom-well span5">
<%= render 'form' %>
	</div>
	<div class="span6">
		<legend>Landlords and Property Managers</legend>
		<dl>
			<dt>Who can participate?</dt>
			<dd>
				ShareTheLot is ideal for large residential buildings with assigned parking spots. Building owners and management
				can begin the enrollment process below. Please <%= link_to 'contact us', contact_path %> for additional information.
			</dd>
			</br>
			<dt>Who benefits from ShareTheLot?</dt>
			<dd>
				Those with assigned spots benefit because they no longer have to park across the street
				if they need additional parking and will save money in the process. Those with vacant spots 
				will earn money by sharing their spot.
				</br>
				</br>
				Buildings will have happier tenants and more access to who is using the parking garage.
			</dd>
			</br>
			<dt>How do I participate?</dt>
			<dd>There is no cost to participate. Begin by filling out the building form to the left and 
				we will be in contact with you soon to create your building code, parking spot list, and
				garage instructions.</dd>
		</dl>
	</div>
</div>
