<legend>Parking Spot Listings</legend>
<div class="row">
	<div class="custom-well span3">
		<%= render 'form' %>
	</div>
	<div class="span8 pull-right">
		<%= render 'search_results' %>
	</div>
</div>

