$navbarBorder: none;
@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$grayMediumDark: #DFDFDF;
$darkblue: #1E37A0;
$yellow: #DFA414;
$grey: #E9E9E9;
$darkgrey: #656565;
$red: #C30202;
$darkred: #A10101;
$lightblue: #2D56FF;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin rounded_border {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
	 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	         box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

@mixin white_grey_gradient {
	background: #fff;
  background: -webkit-linear-gradient(top, #fff, $grey);
  background: -moz-linear-gradient(top, #fff, $grey);
  background: -ms-linear-gradient(top, #fff, $grey);
  background: -o-linear-gradient(top, #fff, $grey);
  background: -webkit-linear-gradient(top, #fff, $grey);
  background: linear-gradient(top, #fff, $grey);
}

@mixin grey_white_gradient {
	background: $grey;
  background: -webkit-linear-gradient(top, $grey, #fff);
  background: -moz-linear-gradient(top, $grey, #fff);
  background: -ms-linear-gradient(top, $grey, #fff);
  background: -o-linear-gradient(top, $grey, #fff);
  background: -webkit-linear-gradient(top, $grey, #fff);
  background: linear-gradient(top, $grey, #fff);
}

@mixin blue_white_gradient {
	background: $grey;
  background: -webkit-linear-gradient(top, $grey, $darkblue);
  background: -moz-linear-gradient(top, $grey, $darkblue);
  background: -ms-linear-gradient(top, $grey, $darkblue);
  background: -o-linear-gradient(top, $grey, $darkblue);
  background: -webkit-linear-gradient(top, $grey, $darkblue);
  background: linear-gradient(top, $grey, $darkblue);
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
	@include white_grey_gradient;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.2em;
  letter-spacing: 0px;
	color: $darkblue;
	padding: 10px 0;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
	padding-bottom: 4px;
  font-weight: normal;
  color: $darkblue;
  text-align: center;
}

h3 {
	font-size: 1.2em;
	color: $darkblue;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
}

legend {
	margin-bottom: 10px;
	color: $darkblue;
}

.inline li {
    display: inline;
		margin: 0 10px;
}

.center {
	text-align: center;
}

.center-vertical {
	vertical-align: middle;
}

.inline {
	display: inline;
}

.no-left-margin {
	margin-left: 0;
}

.money {
	color: green;
}

.front {
	font-size: 2.2em;
	margin: 0 auto;
	color: $darkred;
	font-family: "Arial",Verdana,Sans-serif;
}

.blue {
	color: $darkblue;
}

.red {
	color: $darkred;
}

.white {
	color: #fff;
}


/* Miscelaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Wells */

.custom-well {
	 padding: 10px 10px 10px 10px;
	 margin: 0 0 20px 20px;
	 @include white_grey_gradient;
	 border: 1px solid $darkblue;
	 @include rounded_border;
}

.custom-well-span12 {
	 padding: 10px 10px 10px 10px;
	 margin: 0 0 20px 20px;
	 width: 920px;
	 @include white_grey_gradient;
	 border: 1px solid $darkblue;
	 @include rounded_border;
}

.home-well-span12 {
	 padding: 10px 10px 10px 10px;
	 margin: 0 0 20px 20px;
	 width: 920px;
	 background: $darkblue;
	 @include rounded_border;
			h2 {
				
			}
}

.big-left-margin {
	margin-left: 60px;
}

.custom-well-no-left-padding {
	 padding: 10px 10px 10px 10px;
	 margin: 0 0 20px 0;
	 @include white_grey_gradient;
	 border: 1px solid $darkblue;
	 @include rounded_border;
}

.well-red {
	background: $darkred;
}

.well-blue {
	background: $darkblue;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 250px;
}

.home-page-well {
	 padding: 10px 10px 10px 10px;
	 width: 316px;
	 margin-right: 0px;
	 margin-left: 20px;
	 margin-bottom: 20px;
	 background: $grey;
	 @include rounded_border;
	 h2 {
		color: $red;
	}
	 p {
		color: white;
	}
}

.hero-unit {
		background-image:url('chicago-parking-garage.jpg');
					 -webkit-border-radius: 5px;
					    -moz-border-radius: 5px;
					         border-radius: 5px;
		 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		         box-shadow: 0 1px 2px rgba(0,0,0,.3);
	h1 {
		color: white;
		font-size: 3em;
		@include rounded_border;
		background: $darkred;
		padding: 15px;
	}
}

/* Forms */

.form-center-well {
	margin-top: 40px;
}

.email-input {
		width: 160px;
		margin: 5px 3px 0 0;
}

hr {
	margin: 10px 2px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* Buttons */

.login {
	margin-right: 10px;
}

/* Front Page */

.home-well {
	 padding: 10px 10px 10px 10px;
	 margin-right: 0px;
	 margin-bottom: 20px;
	 background: $grey;
	 @include rounded_border;
	.bigger {
	  font-size: 1.7em;
	  letter-spacing: -1px;
		padding-bottom: 4px;
		margin-left: 160px;
	  font-weight: normal;
	  color: $darkblue;
	}
	p {
		margin-left: 160px;
		font-size: 1em;
		color: $darkgrey;
		margin-top: 5px;
	}
}



.smaller {
	font-size: 1.0em;
	color: $darkgrey;
}

/* Header */

.tag_in_nav {
	margin-top: 5px;
	margin-right: 20px;
	float: left;
	color: #DDD;
}

.building_name {
	padding: 10px 20px;
	float: right;
}

ul.nav li.dropdown a{
    color: $darkblue;    
		&:hover {
			color: $darkblue;
		}
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

.red-caret {
	border-top-color: red !important;
	border-bottom-color: red !important;
}

header {
	.navbar {
		border: none;
	}
	.navbar-inner {
		@include white_grey_gradient;
		p {
			margin-right: 10px;
		}
		ul {
			li.off {
				a {
					color: $darkblue;
					&:hover {
						color: $darkblue;
					}
				}
			}
			li.static {
				a {
					color: $darkgrey;
					&:hover {
						color: black;
					}
				}
			}
			li.on {
				background: $darkblue;
				a {
					color: white;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}

#logo {
	color: $darkblue;
  float: left;
	padding-right: 20px;
	font-family: "Arial",Verdana,Sans-serif;
  &:hover {
    text-decoration: none;
		background-color: transparent;
  }
}

/* Footer */

footer {
  margin-top: 45px;
	height: 150px;
  padding-top: 5px;
  border-top: 1px solid $darkgrey;
  color: $darkgrey;
	background: $grayMediumDark;
  a {
    color: $darkgrey;
    &:hover { 
      background-color: inherit;
			text-decoration: none;
			color: black;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
		margin-left: 80px;
		width: 130px;
    li {
    }
		.title {
			margin-bottom: 6px;
		}
  }
}
