$navbarBorder: none;
@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$darkblue: #1E37A0;
$yellow: #DFA414;
$grey: #E9E9E9;
$darkgrey: #656565;
$red: #C30202;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin rounded_border {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
	 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	         box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

@mixin white_grey_gradient {
	background: #fff;
  background: -webkit-linear-gradient(top, #fff, $grey);
  background: -moz-linear-gradient(top, #fff, $grey);
  background: -ms-linear-gradient(top, #fff, $grey);
  background: -o-linear-gradient(top, #fff, $grey);
  background: -webkit-linear-gradient(top, #fff, $grey);
  background: linear-gradient(top, #fff, $grey);
}

@mixin grey_white_gradient {
	background: $grey;
  background: -webkit-linear-gradient(top, $grey, #fff);
  background: -moz-linear-gradient(top, $grey, #fff);
  background: -ms-linear-gradient(top, $grey, #fff);
  background: -o-linear-gradient(top, $grey, #fff);
  background: -webkit-linear-gradient(top, $grey, #fff);
  background: linear-gradient(top, $grey, #fff);
}

@mixin blue_white_gradient {
	background: $grey;
  background: -webkit-linear-gradient(top, $grey, $darkblue);
  background: -moz-linear-gradient(top, $grey, $darkblue);
  background: -ms-linear-gradient(top, $grey, $darkblue);
  background: -o-linear-gradient(top, $grey, $darkblue);
  background: -webkit-linear-gradient(top, $grey, $darkblue);
  background: linear-gradient(top, $grey, $darkblue);
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
	margin-top: 50px;
	@include white_grey_gradient;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.2em;
  letter-spacing: 0px;
	color: $darkblue;
	padding: 10px 0;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
	padding-bottom: 4px;
  font-weight: normal;
  color: $darkblue;
  text-align: center;
}

h3 {
	font-size: 1.2em;
	color: $darkblue;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
}

.inline li {
    display: inline;
		margin: 0 10px;
}

.center {
	text-align: center;
}

.inline {
	display: inline;
}

.money {
	color: green;
}

.blue {
	color: $darkblue;
}

.red {
	color: $red;
}


/* Miscelaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Wells */

.custom-well {
	 padding: 10px 10px 10px 10px;
	 margin: 0 0 20px 20px;
	 @include white_grey_gradient;
	 border: 1px solid $darkblue;
	 @include rounded_border;
}

.custom-well-no-left-padding {
	 padding: 10px 10px 10px 10px;
	 margin: 0 0 20px 0;
	 @include white_grey_gradient;
	 border: 1px solid $darkblue;
	 @include rounded_border;
}

.hero-unit {
	@include grey_white_gradient;
	border: 1px solid $darkblue;
}

/* Forms */

hr {
	margin: 10px 2px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* Buttons */

.login {
	margin-right: 10px;
}

/* Header */

ul.nav li.dropdown a{
    color: $darkblue;    
		&:hover {
			color: $darkblue;
		}
}

.red-caret {
	border-top-color: red !important;
	border-bottom-color: red !important;
}

header {
	.navbar {
		border: none;
	}
	.navbar-inner {
		@include white_grey_gradient;
		p {
			margin-right: 10px;
		}
		ul {
			li.off {
				a {
					color: $darkblue;
					&:hover {
						color: $darkblue;
					}
				}
			}
			li.on {
				background: $darkblue;
				a {
					color: white;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}

#logo {
	color: $darkblue;
  float: left;
	padding-right: 0;
  &:hover {
    text-decoration: none;
		background-color: transparent;
  }
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      background-color: inherit;
			color: black;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
