<footer class="footer">
	<div class="container">
		<small>
	  	© ShareTheLot 2012
	  </small>
	  <nav>
			<ul>
				<li class="title"><strong>Legal Stuff</strong></li>
				<li><%= link_to "Terms of Use", '#' %></li>
			</ul>
			<ul>
				<li class="title"><strong>Support</strong></li>
				<li><%= link_to "Contact Us", contact_path %></li>
			</ul>
			<ul>
				<li class="title"><strong>Company</strong></li>
				<li><%= link_to "About Us", '#' %></li>
			</ul>
	  </nav>
	</div>
</footer>